services:
  db:
    image: postgres:16
    container_name: macro_meal_planner_db
    environment:
      POSTGRES_DB: macromealplanner
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
